.container{
    width: 1200px;
    display: flex;/*Deixa o posicionamento dos elementos mais facil*/
    justify-content: space-between;
    margin: 0px auto;
    flex-wrap: wrap;/*quebra de linha*/
}

.min-heigth{
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}